<p id="notice"><%= notice %></p>

<table>

  <div class = "article-board">
    <% @ideas.each do |idea| %>
      <h4><%= idea.name %></h4>
      <h5><%= truncate(idea.description, :length => 60,
                                         :omission => '... (continued)') %>
                                         <%= link_to 'Show', idea %>
                                       </h5>
      <div class= 'article-image'>
        <%= image_tag idea.picture_url, width: '100%' if idea.picture.present? %>
      </div>
      <div class="article-links">
        <%= link_to 'Edit', edit_idea_path(idea) %>
        <%= link_to 'Delete', idea, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</table>

<br>

<%= link_to 'New Article', new_idea_path %>
