<p id="notice"><%= notice %></p>


<div>
  <h3><%= @idea.name %></h3>
</div>

<div>
  <%= image_tag(@idea.picture_url, width: 600) if @idea.picture.present? %>
</div>

<div>
  <%= @idea.description %>
</div>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
